/* CSS Document */
table td {
	vertical-align: top;
}
body {
	padding: 0px;
	margin: 0px;
	font: 13px/14px Arial, Helvetica, sans-serif;
	overflow-y: scroll;
}
div, p, ul, h2, h3, form, label, select, img {
	padding: 0px;
	margin: 0px;
}
ul {
	list-style-type: none;
}

/*----TOP PANEL----*/
#TopMainPan {
	height: 270px;
	background: url(images/topbg.gif) 0 0 repeat-x #FFFAEE;
	color: #8D6C1B;
	border-bottom: 1px solid #F1E4C6;
	position: relative;
	margin: 0 auto;
}

#topPan {
	width: 749px;
	position: relative;
	margin: 0 auto;
}

/*----Top Header Panel----*/
#topheaderPan {
	width: 749px;
	height: 55px;
	position: relative;
	margin: 0 auto;
}
#topheaderPan img.logo {
	width: 228px;
	height: 54px;
}

#topheaderPan p.captiontext {
	width: 122px;
	background: #FCE5AF;
	color: #8D6C1B;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: 13px;
	left: 238px;
}

/*----/Top Header Panel----*/

/*----Top Body Panel----*/
/*----Top Body Left----*/
#topbodyleftPan {
	width: 145px;
	float: left;
	padding: 15px 25px 0 0;
}
#topbodyleftPan ul {
	width: 115px;
	height: 145px;
	background: #fff;
	color: #7C5904;
	border: 1px solid #F2EAD5;
	padding: 11px 0 0 22px;
}
#topbodyleftPan ul li {
	width: 94px;
	height: 18px;
	border-bottom: 1px dashed #DCD0B3;
}
#topbodyleftPan ul li a {
	width: 87px;
	height: 18px;
	display: block;
	background: #fff;
	color: #7C5904;
	font: 10px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 0 0 7px;
}

#topbodyleftPan ul li a:hover {
	background: #AC0481;
	color: #fff;
	text-decoration: none;
}

#topbodyleftPan ul li.border {
	border-bottom: 1px dashed #FF00FF;
}

/*----Top Body Center----*/
#topbodycenterPan {
	width: 310px;
	height: 150px;
	float: left;
	line-height: 1.3em;
	padding: 18px 10px 0 0;	
}

#topbodycenterPan h2 {
	color: #BE8A0A;
	font: 18px/19px Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	padding-bottom: 5px;
}

/*----Top Body Right----*/
#topbodyrightPan {
	width: 230px;
	height: 175px;
	float: left;
	line-height: 1.3em;
	padding: 18px 10px 0 10px;
}

#topbodyrightPan a {
	text-decoration: none;
}

#topbodyrightPan input {
	width: 125px;
	height: 15px;
	color: #8D6C1B;
	font-weight: bold;
	border: 1px dotted #8D6C1B;
	font-size: 11px;
	padding: 0px;
}

#topbodyrightPan a:hover {
	background: #BE8A0A;
	color: #fff;
	text-decoration: none;
}

#topbodyrightPan h2 {
	color: #BE6A2A;
	font: 13px/13px Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}

/*----Top Header Panel----*/
/*----/TOP PANEL----*/
/*----BODY PANEL----*/
#bodyMainPan {
	background: #fff;
	color: #8D6C1B;
	position: relative;
	margin: 0 auto;
	clear: both;
	width: 750px;
	padding: 15px 0 0;
}
/*----Body Panel----*/
#bodyleftPan {
	width: 500px;
	margin: 0 auto;
	float: left;
}

#bodyleftPan table {
	width: 485px;
}

#bodyMainPan input {
	height: 19px;
	width: 170px;
	margin: auto;
	background: #FFFFFF;
	color: #8D6C1B;
	font-weight: bold;
	border: 1px dotted #8D6C1B;
	font-size: 11px;
	padding: 0px;
}

/*--------/Body Left Panel----------*/
/*--------Body Right Panel----------*/
#bodyrightPan {
	width: 248px;
	float: right;
}
#bodyrightPan form {
	width: 264px;
	height: 162px;
	background: #FFF0CC;
	color: #000;
	font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
}
#bodyrightPan form h2 {
	width: 253px;
	height: 25px;
	background: #8D6C1B;
	color: #fff;
	font: 20px/25px Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	padding: 0 0 0 11px;
	margin: 0 0 6px 0;
}

#formPan {
	width: 238px;
	height: 21px;
	display: block;
	padding: 9px 15px 0 11px;
}
#formPantwo {
	width: 238px;
	height: 21px;
	display: block;
	padding: 9px 15px 0 11px;
}
#formPanthree {
	width: 238px;
	height: 21px;
	display: block;
	padding: 9px 15px 0 11px;
}
form label {
	width: 82px;
	height: 21px;
	display: block;
	float: left;
	background: #FFFAEE;
	color: #000;
	text-align: center;
	line-height: 21px;
	margin: 0 16px 0 0;
}
form select {
	width: 133px;
	height: 18px;
	display: block;
	float: left;
	line-height: 21px;
	font-size: 12px;
}
form input {
	width: 55px;
	height: 15px;
	background: #8D6C1B;
	color: #fff;
	font-weight: bold;
	border: none;
	font-size: 11px;
	margin: 10px 0 0 185px;
	padding: 0px;
}

#bodyrightPan h3 {
	background: #fff;
	color: #BE8A0A;
	font: 27px Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 15px 0;
}

#bodyrightPan ul {
	width: 240px;
}
#bodyrightPan ul li {
	width: 240px;
	height: 20px;
}
#bodyrightPan ul li a {
	width: 224px;
	height: 20px;
	background: url(images/bullet-normal.gif) 0 6px no-repeat #fff;
	color: #4D4D4D;
	line-height: 20px;
	text-decoration: underline;
	padding: 0 0 0 16px;
}
#bodyrightPan ul li a:hover {
	background: url(images/bullet-hover.gif) 0 6px no-repeat #fff;
	color: #111;
	text-decoration: underline;
}

/*----FOOTER PANEL----*/
#footermainPan {
	height: 40px;
	background: url(images/footerbg.gif) 0 0 repeat-x #8D6C1B;
	color: #fff;
	clear: both;
	padding: 40px 0 0;
	position: fixed; /* Фиксированное положение */
    left: 0; 
    bottom: 0;
    width: 100%;
}

#footerPan {
	width: 749px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#footerPan p.copyright {
	width: 204px;
	position: relative;
	margin: 0 auto;
	background: #8D6C1B;
	color: #fff;
	font-size: 11px;
}

/*---HIDDEN TEXTFIELD---*/

.hidden {
	display: none;
}

.visible {
	display: auto;
}
